.jumbotron {
  text-align: center;
  color: white;
  background-color: #2d77a1;
}

body {
  background-color: #eaf8ff;
}

button {
  background-color: #ffffff;
  color: black;
}

.well {
  background-color: #2d77a1;
  color: rgb(255, 255, 255);
}

#popup {
  color: #2d77a1;
}

#map {
  display: none;
  height: 400px;
  width: 100%;
}
